var <%= obj.key %> = [<%_.each(obj.files, function(files,i) {%>
	{<%if(files.src){%>src: "<%=files.src%>", <%} if(files.type){%>type: createjs.LoadQueue.<%=files.type%>, <%}

    %>}<%if(!files.lastFile){%>,<%} })%>
];
